h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: black;
    padding: left 3pt;
}
.one{
    font-family: serif;
    padding-left: 2pt;
    color: brown;

}
.box{
    width: 350px;
    height: 150px;
    margin: 10px;
    padding: 25px;
    border: 5px solid black;
}
.description{
    background-color:rgb(21, 86, 207);
    color:white;
    padding: 60px 30px;
    box-sizing: border-box;
    border-radius: 50px;
    width: 900px;
    height: 400px;
    font-size: 15px;
    text-align:left;
    margin-left: 20px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}
.viewbutton{
    float: left;
    margin-top: 50px;
    cursor: pointer;
    border-radius: 25px;
    color: #fff;
    padding: 6px; 
    width: 150px;
    height: 60px;  
    background: #cf344e;
    font-size: 15px;
    text-align: center;
    box-sizing: border-box;
  }
  
  .divspacing{
    
      height: 20px;
  }
  .classecbody{
      margin-top: 35px;
  }

  .btnhireme{
    float: left;
    margin-top: 50px;
    margin-left: 50px;
    cursor: pointer;
    border-radius: 25px;
    background: rgb(21, 86, 207);
    padding: 6px; 
    width: 150px;
    height: 60px;  
    color: rgb(247, 247, 247);
    font-size: 15px;
    text-align: center;
    box-sizing: border-box;
    border-style: groove;
    border-color: black;
  }

  .cv{
    box-sizing: border-box;
    margin-top:70px;
    cursor: pointer;
    border-radius: 25px;
    color: #fff;
    padding: 10px; 
    width: 150px;
    height: 60px;  
    background: #cf344e;
    font-size: 15px;
    text-align: center;
  }
  .cv:hover{
    background: rgb(21, 86, 207);
    cursor: pointer;
  }
  .sechire{
    box-sizing: border-box;
    float: left;
    margin-top: 15px;
    margin-left: 50px;
    cursor: pointer;
    border-radius: 25px;
    background: rgb(21, 86, 207);
    padding: 6px;
    width: 150px;
    height: 60px;  
    color: rgb(247, 247, 247);
    font-size: 15px;
    text-align: center;
    border-style: groove;
    border-color: black;
  }
  .sechire:hover{
    background: #cf344e;
    cursor: pointer;
  }
table,td {
    border:1px solid black;
    border-collapse: collapse;
  }
  th{
    background-color: #96D4D4; 
    border:1px solid black;
  }
  .viewbutton:hover {
    background-color: rgb(58, 147, 231);
    cursor: pointer;
  }
  .btnhireme:hover{
      background-color: rgb(228, 233, 238);
      color: #000;
      cursor: pointer;
  }
.about{ 
    background-color:rgb(227, 230, 236);
    color:rgb(107, 104, 104);
    padding: 60px 30px;
    box-sizing: border-box;
    border-radius: 50px;
    width: 900px;
    height: 700px;
    font-size: 15px;
    text-align:left;
    margin-left: 20px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}
.secabout{
  background-color:rgb(227, 230, 236);
    color:rgb(107, 104, 104);
    padding: 60px 30px;
    box-sizing: border-box;
    border-radius: 50px;
    width: 900px;
    height: 400px;
    font-size: 15px;
    text-align:left;
    margin-left: 20px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}
.about h2::before{
    top: 40px;
    content: "";
    height: 5px;
    width: 35px;
    position:absolute;
    border-radius: 4px;
    background-color: #cf344e;
}
 .secabout h2::before{
  top: 40px;
  content: "";
  height: 5px;
  width: 35px;
  position:absolute;
  border-radius: 4px;
  background-color: #cf344e;

}
.about h2, .secabout h2{
    color: #000;
    position:relative;
    margin-top: 0%;
}
.division{
    float: left;
    border-radius: 25px;
    padding: 10px; 
    width: 250px;
    height: 60px;  
}
.text-dark{
    color: #000;
}
.servicebody{
    float: left;
    margin-top: 50px;
    cursor: pointer;
    border-radius: 9px;
    color: #000;
    padding: 50px; 
    width: 250px;
    height: 200px;  
    background: #fff;
    font-size: 15px;
    text-align: center;
    box-sizing: border-box;
}
.servicebody:hover{
    background-color: #cf344e; 
    color: #fff;
}
.contacts{
  float: left;
  color: #fff;
  margin: 5px;;
  font-size: large;
  margin-top: 20px;
}

